/* aplicacion sass */
/*variables*/
.tour .gira, .formularios, .formularios .form h2, .formularios .form .text p, .contacto .contacto-text p {
  padding-top: 25px;
  padding-bottom: 20px; }

/* MENU */
header {
  background-color: #050505;
  top: 0;
  z-index: 0;
  display: grid; }
  header a img {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 59px;
    width: 100px; }
  header a img:hover {
    height: 71px;
    width: 120px; }
  header nav ul {
    list-style: none;
    text-align: center; }
    header nav ul li {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      display: inline-block;
      font-size: 20px;
      padding: 15px;
      font-weight: bold;
      text-align: center; }
      header nav ul li a {
        color: #8f1b1b;
        text-decoration: none; }
      header nav ul li a:hover {
        color: #661414; }

/* BODY */
body {
  background-color: #0a0a0a; }

/* FOOTER */
footer {
  background-color: #050505;
  display: grid;
  width: auto;
  height: auto;
  padding-top: 7px; }
  footer div {
    display: flex; }
    footer div p {
      text-align: center;
      color: whitesmoke;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 17px; }
  footer div {
    display: flex; }
    footer div a {
      color: #8f1b1b;
      text-decoration: none; }
    footer div a:hover {
      color: #661414; }

/* HOME */
.index .div-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-bg-01.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .index .div-bg p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    padding: 20px;
    font-size: 30px; }
  .index .div-bg a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    min-width: 130px;
    height: 40px;
    width: 100px;
    padding: 5px 10px;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: whitesmoke;
    background: transparent; }
  .index .div-bg a:hover {
    background-color: #ced4da; }

.index .div-bg-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/bg-02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .index .div-bg-02 p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    padding: 20px;
    font-size: 30px; }
  .index .div-bg-02 a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    min-width: 130px;
    height: 40px;
    width: 165px;
    padding: 5px 10px;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: whitesmoke;
    background: transparent; }
  .index .div-bg-02 a:hover {
    background-color: #ced4da; }

/* DISCOGRAFIA  */
.discografia {
  display: grid; }
  .discografia h2, .discografia h3, .discografia h4 {
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 35px;
    text-align: center; }
  .discografia h2 {
    padding-top: 20px;
    font-size: 35px; }
  .discografia h3 {
    padding-top: 20px;
    font-size: 25px; }
  .discografia h4 {
    padding-top: 13px; }
  .discografia .albumesspotify {
    display: flex;
    flex-flow: wrap row;
    align-items: center; }
    .discografia .albumesspotify .albumspotify {
      gap: 15px;
      width: 300px;
      height: 300px;
      margin: 25px; }
  .discografia .suenos {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/suenos.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .suenos p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 35px;
      color: whitesmoke;
      padding: 20px;
      font-size: 30px; }
    .discografia .suenos a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      min-width: 130px;
      height: 40px;
      width: 165px;
      padding: 5px 10px;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .suenos a:hover {
      background-color: #ced4da; }
  .discografia .guerras {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/guerras.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .guerras p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 35px;
      color: whitesmoke;
      padding: 20px;
      font-size: 30px; }
    .discografia .guerras a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      min-width: 130px;
      height: 40px;
      width: 165px;
      padding: 5px 10px;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .guerras a:hover {
      background-color: #ced4da; }
  .discografia .river {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-river.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .river p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 35px;
      color: whitesmoke;
      padding: 20px;
      font-size: 30px; }
    .discografia .river a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      min-width: 130px;
      height: 40px;
      width: 165px;
      padding: 5px 10px;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .river a:hover {
      background-color: #ced4da; }
  .discografia .naranja-02 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/naranja-02.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .naranja-02 p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 35px;
      color: whitesmoke;
      padding: 20px;
      font-size: 30px; }
    .discografia .naranja-02 a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      min-width: 130px;
      height: 40px;
      width: 165px;
      padding: 5px 10px;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .naranja-02 a:hover {
      background-color: #ced4da; }
  .discografia .naranja {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/naranja.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .naranja p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 35px;
      color: whitesmoke;
      padding: 20px;
      font-size: 30px; }
    .discografia .naranja a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      min-width: 130px;
      height: 40px;
      width: 165px;
      padding: 5px 10px;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .naranja a:hover {
      background-color: #ced4da; }
  .discografia .ferro {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-img.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .ferro p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 35px;
      color: whitesmoke;
      padding: 20px;
      font-size: 30px; }
    .discografia .ferro a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      min-width: 130px;
      height: 40px;
      width: 165px;
      padding: 5px 10px;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .ferro a:hover {
      background-color: #ced4da; }
  .discografia .veintisiete {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-img-02.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .veintisiete p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 35px;
      color: whitesmoke;
      padding: 20px;
      font-size: 30px; }
    .discografia .veintisiete a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      min-width: 130px;
      height: 40px;
      width: 165px;
      padding: 5px 10px;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .veintisiete a:hover {
      background-color: #ced4da; }
  .discografia .espejos {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/espejos.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .espejos p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 35px;
      color: whitesmoke;
      padding: 20px;
      font-size: 30px; }
    .discografia .espejos a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      min-width: 130px;
      height: 40px;
      width: 165px;
      padding: 5px 10px;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .espejos a:hover {
      background-color: #ced4da; }

/* TOUR */
.tour {
  display: grid; }
  .tour .gira {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    font-size: 35px; }
  .tour .table {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: left;
    color: whitesmoke;
    border: transparent; }
    .tour .table .lugares, .tour .table .fechas {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-align: left;
      color: whitesmoke;
      border: transparent;
      font-size: 18px;
      padding: 15px; }
    .tour .table .botones {
      color: black;
      background: whitesmoke;
      border: transparent;
      size: 10px;
      font-size: 15px;
      padding: 8px;
      border-radius: 10px; }
    .tour .table .botones:hover {
      background-color: #d2d2d2; }

/* FORMULARIOS CSS*/
.formularios {
  display: grid;
  width: 485px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  background-color: #272727;
  padding-left: 30px; }
  .formularios .form h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    font-size: 35px; }
  .formularios .form .text p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    font-size: 20px; }
    .formularios .form .text p a {
      color: #8f1b1b; }
    .formularios .form .text p a:hover {
      color: #661414; }
  .formularios .form .formulario p h2 {
    font-size: 15px; }
  .formularios .form .formulario p p {
    font-size: 14px;
    color: #0e0e0e; }
  .formularios .form .formulario p span {
    color: red; }
  .formularios .form .formulario p input {
    background-color: transparent;
    width: 410px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-style: none;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #252525; }
  .formularios .form .formulario p textarea {
    background-color: #252525;
    width: 405;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #252525;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px; }
  .formularios .form .formulario p label {
    display: block;
    text-align: center;
    float: center;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
    .formularios .form .formulario p label span {
      color: red; }
  .formularios .form .formulario p button {
    width: 70px;
    height: 30px;
    text-decoration: whitesmoke; }
  .formularios .form .formulario p button:hover {
    background-color: #d2d2d2; }
  .formularios .form .formulario .aviso {
    font-size: 15px;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

/* CONTACTO CSS */
.contacto {
  display: grid; }
  .contacto h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    color: whitesmoke; }
  .contacto .contacto-text p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    font-size: 20px;
    padding: 15px; }

/* REGISTRATE CSS */
.iniciar-sesion {
  display: grid; }

/* INICIA SESION CSS */
.iniciar-sesion2 {
  display: grid; }

/* mediaqueries */
/* mobile */
@media screen and (min-width: 0px) and (max-width: 425px) {
  /* header */
  header nav ul li {
    padding: 15px;
    font-size: 20px; }
  /* footer */
  footer div p {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px; }
  footer div a {
    padding: 0px;
    font-size: 15px; }
  /* tour */
  .tour .gira {
    font-size: 25px; }
  .tour .table .lugares {
    font-size: 13px; }
  .tour .table .fechas {
    font-size: 13px; }
  /* contacto */
  .contacto h2 {
    font-size: 30px; }
  .contacto .contacto-text p {
    font-size: 20px;
    padding: 10px; }
  /* formularios */
  .formularios {
    width: 300px;
    padding: 20px; }
    .formularios .form h2 {
      font-size: 30px; }
    .formularios .form .text p {
      font-size: 20px; }
    .formularios .form .formulario p input {
      height: 40px;
      width: 275px; }
    .formularios .form .formulario p textarea {
      width: 275px;
      height: 150px; }
    .formularios .form .formulario fieldset div .enviar-01 {
      width: 60px;
      height: 20px; } }

/* tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* footer */
  footer div p {
    font-size: 18px; }
  footer div a {
    font-size: 18px; }
  /* tour */
  .tour .gira {
    font-size: 30px; }
  .tour .table .lugares {
    font-size: 18px; }
  .tour .table .fechas {
    font-size: 18px; }
  /* contacto */
  .contacto h2 {
    font-size: 30px; }
  .contacto .contacto-text p {
    font-size: 23px; }
  /* formularios */
  .formularios {
    width: 400px; }
    .formularios .form .formulario p label {
      font-size: 18px; }
    .formularios .form .formulario p input {
      width: 335px; }
    .formularios .form .formulario p textarea {
      width: 335px; } }

/* desktop */
@media screen and (min-width: 769px) and (max-width: 1440px) {
  /* header */
  header nav ul li {
    font-size: 25px; }
  /* footer */
  footer div p {
    font-size: 18px; }
  footer div a {
    font-size: 18px; }
  /* tour */
  .tour .gira {
    font-size: 35px; }
  .tour .table .lugares {
    font-size: 18px; }
  .tour .table .fechas {
    font-size: 18px; }
  /* contacto */
  .contacto h2 {
    font-size: 35px; }
  .contacto .contacto-text p {
    font-size: 25px;
    padding: 15px; }
  /* formularios */
  .formularios {
    width: 700px; }
    .formularios .form h2 {
      font-size: 35px; }
    .formularios .form .text p {
      font-size: 25px; }
    .formularios .form .formulario p input {
      width: 650px; }
    .formularios .form .formulario p textarea {
      width: 650px; }
    .formularios .form .formulario p label {
      font-size: 20px; } }
