/*variables*/
.tour .gira, .formularios, .formularios .form h2, .formularios .form .text p, .contacto .contacto-text p {
  padding-top: 25px;
  padding-bottom: 20px; }

header {
  background-color: transparent;
  top: 0;
  z-index: 0;
  display: flex;
  flex-direction: column; }
  header a img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  header nav ul {
    list-style: none;
    text-align: center; }
    header nav ul li {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      display: inline-block;
      font-weight: bold;
      text-align: center; }
      header nav ul li a {
        color: #8f1b1b;
        text-decoration: none; }
      header nav ul li a:hover {
        color: #661414; }

body {
  background-color: #0a0a0a; }

footer {
  background-color: #050505;
  display: grid;
  width: auto;
  height: auto;
  padding-top: 7px; }
  footer div {
    display: flex; }
    footer div p {
      text-align: center;
      color: whitesmoke;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
  footer div {
    display: flex; }
    footer div a {
      color: #8f1b1b;
      text-decoration: none; }
    footer div a:hover {
      color: #661414; }

.index .div-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-bg-01.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .index .div-bg p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: whitesmoke; }
  .index .div-bg a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: whitesmoke;
    background: transparent; }
  .index .div-bg a:hover {
    background-color: #ced4da; }

.index .div-bg-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/suenos.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .index .div-bg-02 p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: whitesmoke; }
  .index .div-bg-02 a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: whitesmoke;
    background: transparent; }
  .index .div-bg-02 a:hover {
    background-color: #ced4da; }

.discografia {
  display: grid; }
  .discografia .suenos {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/suenos.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .suenos p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke; }
    .discografia .suenos a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .suenos a:hover {
      background-color: #ced4da; }
  .discografia .guerras {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/guerras.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .guerras p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke; }
    .discografia .guerras a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .guerras a:hover {
      background-color: #ced4da; }
  .discografia .river {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-river.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .river p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke; }
    .discografia .river a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .river a:hover {
      background-color: #ced4da; }
  .discografia .naranja-02 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/naranja-02.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .naranja-02 p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke; }
    .discografia .naranja-02 a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .naranja-02 a:hover {
      background-color: #ced4da; }
  .discografia .naranja {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/naranja.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .naranja p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke; }
    .discografia .naranja a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .naranja a:hover {
      background-color: #ced4da; }
  .discografia .ferro {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-img.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .ferro p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke; }
    .discografia .ferro a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .ferro a:hover {
      background-color: #ced4da; }
  .discografia .veintisiete {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-img-02.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .veintisiete p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke; }
    .discografia .veintisiete a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .veintisiete a:hover {
      background-color: #ced4da; }
  .discografia .espejos {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/espejos.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0; }
    .discografia .espejos p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke; }
    .discografia .espejos a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: whitesmoke;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      border-radius: 5px;
      border: whitesmoke;
      background: transparent; }
    .discografia .espejos a:hover {
      background-color: #ced4da; }

.tour {
  display: grid; }
  .tour .gira {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    color: whitesmoke; }
  .tour .table {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: left;
    color: whitesmoke;
    border: transparent; }
    .tour .table tbody tr .lugares, .tour .table tbody tr .fechas {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-align: left;
      color: whitesmoke;
      border: transparent; }
    .tour .table tbody tr a {
      color: black;
      background: whitesmoke;
      border: transparent;
      border-radius: 10px;
      text-align: right; }
    .tour .table tbody tr a:hover {
      background-color: #d2d2d2; }
    .tour .table tbody tr td h2 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-align: left;
      color: whitesmoke;
      border: transparent; }

.formularios {
  display: grid;
  width: 485px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  background-color: #272727;
  padding-left: 30px; }
  .formularios .form h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    color: whitesmoke; }
  .formularios .form .text p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    color: whitesmoke; }
    .formularios .form .text p a {
      color: #8f1b1b; }
    .formularios .form .text p a:hover {
      color: #661414; }
  .formularios .form .formulario p span {
    color: red; }
  .formularios .form .formulario p input {
    background-color: #ff0000;
    width: 410px;
    height: 40px;
    border-style: solid;
    border-style: none;
    background-color: #212121; }
  .formularios .form .formulario p textarea {
    width: 405;
    height: 150px;
    border-style: solid;
    border-color: #252525;
    background-color: #212121; }
  .formularios .form .formulario p label {
    display: block;
    text-align: center;
    float: center;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
    .formularios .form .formulario p label span {
      color: red; }
  .formularios .form .formulario p button {
    width: 70px;
    height: 30px;
    text-decoration: whitesmoke; }
  .formularios .form .formulario p button:hover {
    background-color: #d2d2d2; }
  .formularios .form .formulario .aviso {
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.contacto {
  display: grid; }
  .contacto h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
    color: whitesmoke; }
  .contacto .contacto-text p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    color: whitesmoke; }

.iniciar-sesion {
  display: grid; }

.iniciar-sesion2 {
  display: grid; }

/* mediaqueries */
@media (max-width: 1440px) {
  header nav ul li {
    font-size: 23px;
    padding: 15px; }
  header a img {
    padding-top: 15px;
    height: 59px;
    width: 100px; }
  header a img:hover {
    height: 71px;
    width: 120px; }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    footer div p {
      font-size: 18px; }
    footer div a {
      font-size: 18px; }
    footer .redes-sociales {
      padding: 10px;
      align-self: center;
      width: 200px;
      flex-direction: row;
      justify-content: space-around; }
      footer .redes-sociales a img {
        width: 20px;
        height: 20px; }
  .index .div-bg p, .index .div-bg-02 p {
    line-height: 35px;
    padding: 20px;
    font-size: 30px; }
  .index .div-bg a, .index .div-bg-02 a {
    height: 40px;
    width: auto;
    padding: 5px 10px; }
  .discografia .suenos p, .discografia .guerras p, .discografia .river p, .discografia .naranja-02 p, .discografia .naranja p, .discografia .ferro p, .discografia .veintisiete p, .discografia .espejos p {
    line-height: 35px;
    padding: 20px;
    font-size: 30px; }
  .discografia .suenos a, .discografia .guerras a, .discografia .river a, .discografia .naranja-02 a, .discografia .naranja a, .discografia .ferro a, .discografia .veintisiete a, .discografia .espejos a {
    height: 40px;
    width: 165px;
    padding: 5px 10px; }
  .tour .gira {
    font-size: 35px;
    line-height: 35px; }
  .tour .table tbody tr td h2 {
    font-size: 30px;
    padding: 15px; }
  .tour .table tbody tr .lugares, .tour .table tbody tr .fechas {
    font-size: 18px;
    padding: 15px; }
  .tour .table tbody tr a {
    size: 10px;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    height: 40px;
    width: 65px; }
  .formularios {
    width: 750px;
    padding: 20px; }
    .formularios .form h2 {
      line-height: 35px;
      font-size: 35px; }
    .formularios .form .text p {
      font-size: 25px;
      line-height: 35px; }
    .formularios .form .formulario {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .formularios .form .formulario p input, .formularios .form .formulario p textarea {
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 1px;
        width: 700px; }
      .formularios .form .formulario p .aviso {
        font-size: 15px; }
      .formularios .form .formulario button {
        height: 40px;
        width: 68px; }
  .contacto h2 {
    line-height: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px; }
  .contacto .contacto-text p {
    line-height: 35px;
    font-size: 20px; } }

@media (max-width: 768px) {
  .formularios {
    width: 425px; }
    .formularios .form .formulario {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .formularios .form .formulario p input, .formularios .form .formulario p textarea {
        width: 370px; } }

@media (max-width: 425px) {
  header nav ul li {
    font-size: 16px;
    padding: 8px; }
  .tour .gira {
    font-size: 30px;
    line-height: 30px; }
  .tour .table tbody tr td h2 {
    font-size: 25px;
    padding: 10px; }
  .tour .table tbody tr .lugares, .tour .table tbody tr .fechas {
    font-size: 12px;
    padding: 10px; }
  .tour .table tbody tr a {
    size: 8px;
    font-size: 12px;
    height: 35px;
    width: 60px; }
  .formularios {
    width: 300px; }
    .formularios .form h2 {
      line-height: 30px;
      font-size: 30px; }
    .formularios .form .text p {
      font-size: 20px;
      line-height: 30px; }
    .formularios .form .formulario p input, .formularios .form .formulario p textarea {
      width: 265px; }
    .formularios .form .formulario button {
      height: 30px;
      width: 65px; }
  .contacto h2 {
    line-height: 30px;
    font-size: 30px; } }
