/* aplicacion sass */


@import "base/variables";
@import "base/mapas";
@import "base/mixin";
@import "base/extend";

/* MENU */

header{
    background-color: $header-color;
    top: 0;
    z-index: 0;
    display: grid;

    a{
        img{
        padding-top: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 59px;
        width: 100px;
        }

        img:hover{
            height: 71px;
            width: 120px;
        }
    }


    nav ul{
        list-style: none;
        text-align: center;

        li{
            font-family: $text-font;
            display: inline-block;
            font-size: 20px;
            padding: 15px;
            font-weight: bold;
            text-align: center;

            a{
                color: map-get($map: $standard, $key: color-1) ; //mapas
                text-decoration: none;
            }

            a:hover{
                color: map-get($map: $standard, $key: color-2) ; //mapas
            }
        }
    }
    
}

/* BODY */

body{
    background-color: $bg-color;
}

/* FOOTER */

footer{
    background-color: $header-color;
    display: grid;
    width: auto;
    height: auto;
    padding-top: 7px;

    div{
        display: flex;

        p{
            text-align: center;
            color: $textcolor;
            font-family: $text-font;
            font-size: 17px;
        }
    }

    div{
        display: flex;

        a{
            color: map-get($map: $standard, $key: color-1); //mapas
            text-decoration: none;
        }

        a:hover{
            color: map-get($map: $standard, $key: color-2); //mapas
        }
    }


}  

/* HOME */

.index{

    .div-bg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-bg-01.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 100px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .div-bg-02{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/bg-02.png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

} 

/* DISCOGRAFIA  */

.discografia{
    display: grid;

    h2, h3, h4{
        color: $textcolor;
        font-family: $text-font;
        line-height: 35px;
        text-align: center;
    }

    h2{
        padding-top: 20px;
        font-size: 35px;
    }

    h3{
        padding-top: 20px;
        font-size: 25px; 
    }

    h4{
        padding-top: 13px;
    }

    .albumesspotify{
        display: flex;
        flex-flow: wrap row;
        align-items: center;

        .albumspotify{
            gap: 15px;

            @include medidas(300px, 300px); //mixin

            margin: 25px;
        }
    }


    

    .suenos{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/suenos.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .guerras{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/guerras.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .river{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-river.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .naranja-02{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/naranja-02.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .naranja{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/naranja.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .ferro{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-img.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .veintisiete{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-img-02.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .espejos{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/espejos.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            padding: 20px;
            font-size: 30px;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            min-width: 130px;
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

}

/* TOUR */

.tour{
    display: grid;

    .gira{
        font-family: $text-font;
        text-align: center;
        line-height: 35px;
        color: $textcolor;

        @extend %padding; //extend
        
        font-size: 35px;
    }

    .table{
        font-family: $text-font;
        text-align: left;
        color: $textcolor;
        border: transparent;

        .lugares, .fechas{
            font-family: $text-font;
            text-align: left;
            color: $textcolor;
            border: transparent;
            font-size: 18px;
            padding: 15px;
        }

        .botones{
            color: black;
            background: $textcolor;
            border: transparent;
            size: 10px;
            font-size: 15px;
            padding: 8px;
            border-radius: 10px;
        }

        .botones:hover{
            background-color: rgb(210, 210, 210);
        }
    }
}

/* FORMULARIOS CSS*/

.formularios{
    display: grid;

    @include medidas(485px, auto); //mixin

    margin: 80px auto;
    border-radius: 10px;  

    @extend %padding;  //extend

    background-color: rgb(39, 39, 39); 
    padding-left: 30px; 

    .form{

        h2{
            font-family: $text-font;
            text-align: center;
            line-height: 35px;
            color: $textcolor;

            @extend %padding; //extend

            font-size: 35px;
        }

        .text{
            p{
                font-family: $text-font;
                text-align: center;
                line-height: 35px;
                color: whitesmoke;
                @extend %padding;  //extend
                font-size: 20px;

                a{
                    color: map-get($map: $standard, $key: color-1);
                }

                a:hover{
                    color: map-get($map: $standard, $key: color-2);
                }
            }
        }
    
        .formulario{

            p{
                h2{
                    font-size: 15px;
                }

                p{
                font-size: 14px; 
                color: #0e0e0e; 
                }
                
                
                span{
                    color: red;
                }

                input{
                    background-color: transparent; 

                    @include medidas(410px, 40px); //mixin

                    border-radius: 5px;  
                    border-style: solid; 
                    border-width: 1px; 
                    border-style: none; 
                    margin-top: 10px;  
                    padding: 10px;
                    margin-bottom: 20px; 
                    background-color: #252525;
                }

                textarea{
                    background-color: #252525; 

                    @include medidas(405, 150px); //mixin

                    border-radius: 5px;  
                    border-style: solid; 
                    border-width: 1px; 
                    border-color: #252525; 
                    margin-top: 10px;  
                    padding-left: 10px;
                    margin-bottom: 20px; 
                    padding-top: 15px; 
                } 

                label{
                    display: block; 
                    text-align: center;
                    float: center;  
                    color: $textcolor;
                    font-family: $text-font;

                    span{
                        color: red;
                    }
                }

                button{

                    @include medidas(70px, 30px); //mixin

                    text-decoration: $textcolor;
                }

                button:hover{
                    background-color: rgb(210, 210, 210);
                }
            } 

            .aviso{
                font-size: 15px;  
                color: $textcolor;  
                font-family: $text-font;
            }
    
        }
    }
}


/* CONTACTO CSS */

.contacto{

    display: grid;

    h2{
        font-family: $text-font;
        text-align: center;
        line-height: 35px;
        color: $textcolor;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
        color: $textcolor;
    }

    .contacto-text{
        p{
            font-family: $text-font;
            text-align: center;
            line-height: 35px;
            color: $textcolor;
            @extend %padding;  //extend
            font-size: 20px;
            padding: 15px;
        }
    }
}

/* REGISTRATE CSS */

.iniciar-sesion{
    display: grid;
}


/* INICIA SESION CSS */

.iniciar-sesion2{
    display: grid;
}



/* mediaqueries */

/* mobile */

@media screen and (min-width:0px) and (max-width:425px){
    
    /* header */ 
    
    header{ 
        nav{ 
            ul{ 
                li{
                    padding: 15px;
                    font-size: 20px;
                }
            }
        }
    }

    /* footer */

    footer{ 
        div{
            p{ 
                font-size: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        div{
            a{
                padding: 0px;
                font-size: 15px;
            }
        }
    }


    /* tour */

    .tour{
        .gira{
            font-size: 25px;
        }

        .table{
            .lugares{
                font-size: 13px;
            }
            .fechas{
                font-size: 13px;   
            }
        }
    }

    /* contacto */
    
    .contacto{
        h2{
            font-size: 30px;
        }
        .contacto-text{
            p{
                font-size: 20px;
                padding: 10px;
            }
        }
    }

    /* formularios */

    
    .formularios{
        width: 300px;
        padding: 20px;

        .form{
            h2{
                font-size: 30px;
            }
            .text{
                p{
                    font-size: 20px;
                }
            }

            .formulario{
                p{
                    input{
                        height: 40px; 
                        width: 275px;
                    }
                    textarea{
                        width: 275px; 
                        height: 150px; 
                    }
                }

                
                
                fieldset div .enviar-01{
                    width: 60px;
                    height: 20px;
                }
            }

            
        }
    }

}

/* tablet */

@media screen and (min-width:426px) and (max-width:768px){


    /* footer */

    footer{ 
        div{
            p{ 
                font-size: 18px;
            }
        }
        div{
            a{
                font-size: 18px;
            }
        }
    }


    /* tour */

    .tour{
        .gira{
            font-size: 30px;
        }

        .table{
            .lugares{
                font-size: 18px;
            }
            .fechas{
                font-size: 18px;   
            }
        }
    }

    /* contacto */
    
    .contacto{
        h2{
            font-size: 30px;
        }
        .contacto-text{
            p{
                font-size: 23px;
            }
        }
    }

    /* formularios */

    .formularios{
        width: 400px;

        .form{

            .formulario{
                p{
                    label{
                        font-size: 18px
                    }
                    input{
                        width: 335px;
                    }
                    textarea{
                        width: 335px; 
                    }
                }
            }
        }
    }

}


/* desktop */

@media screen and (min-width:769px) and (max-width:1440px){

        /* header */


        header{
            nav{
                ul{
                    li{
                        font-size: 25px;
                    }
                }
            }
        }
    
    
        /* footer */
    
        footer{ 
            div{
                p{ 
                    font-size: 18px;
                }
            }
            div{
                a{
                    font-size: 18px;
                }
            }
        }
    
    
        /* tour */
    
        .tour{
            .gira{
                font-size: 35px;
            }
    
            .table{
                .lugares{
                    font-size: 18px;
                }
                .fechas{
                    font-size: 18px;   
                }
            }
        }
    
        /* contacto */
        
        .contacto{
            h2{
                font-size: 35px;
            }
            .contacto-text{
                p{
                    font-size: 25px;
                    padding: 15px;
                }
            }
        }
    
        /* formularios */
    
        
        .formularios{
    
            width: 700px;
    
            .form{
    
                h2{
                    font-size: 35px;
                }
                .text{
                    p{
                        font-size: 25px;
                    }
                }
    
                .formulario{
                    p{
                        input{
                            width: 650px;
                        }
                        textarea{
                            width: 650px; 
                        }
                        label{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
}