
@import "base/variables";
@import "base/mapas";
@import "base/mixin";
@import "base/extend";

header{
    background-color: transparent;
    top: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    
    a{
        img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    }


    nav{
        ul{
            list-style: none;
            text-align: center;

            li{
                font-family: $text-font;
                display: inline-block;
                font-weight: bold;
                text-align: center;

                a{
                    color: map-get($map: $standard, $key: color-1) ; //mapas
                    text-decoration: none;
                }

                a:hover{
                    color: map-get($map: $standard, $key: color-2) ; //mapas
                }
            }
        }
    }
}

body{
    background-color: $bg-color;
}

footer{
    background-color: $header-color;
    display: grid;
    width: auto;
    height: auto;
    padding-top: 7px;

    div{
        display: flex;

        p{
            text-align: center;
            color: $textcolor;
            font-family: $text-font;
        }
    }

    div{
        display: flex;

        a{
            color: map-get($map: $standard, $key: color-1); //mapas
            text-decoration: none;
        }

        a:hover{
            color: map-get($map: $standard, $key: color-2); //mapas
        }
    }


}  

.index{
    .div-bg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-bg-01.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .div-bg-02{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/suenos.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

} 

.discografia{
    display: grid;

    .suenos{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/suenos.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .guerras{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/guerras.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .river{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-river.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .naranja-02{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/naranja-02.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .naranja{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/naranja.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .ferro{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-img.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .veintisiete{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/ciro-img-02.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

    .espejos{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/espejos.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;

        p{
            font-family:'Courier New', Courier, monospace;
            text-align: center;
            color: $textcolor;
        }

        a{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: $textcolor;
            font-family: 'Courier New', Courier, monospace;
            transition: all 0.3s ease;
            border-radius: 5px;
            border: $textcolor;
            background: transparent;
        }
        a:hover{
            background-color: #ced4da;
        }
    }

}

.tour{
    display: grid;

    .gira{
        font-family: $text-font;
        text-align: center;
        color: $textcolor;

        @extend %padding; //extend
    }

    .table{
        font-family: $text-font;
        text-align: left;
        color: $textcolor;
        border: transparent;

        tbody{
            tr{
                .lugares, .fechas{
                    font-family: $text-font;
                    text-align: left;
                    color: $textcolor;
                    border: transparent;
                }
                a{
                    color: black;
                    background: $textcolor;
                    border: transparent;
                    border-radius: 10px;
                    text-align: right;
                }
                a:hover{
                    background-color: rgb(210, 210, 210);
                }
                td{
                    h2{
                        font-family: $text-font;
                        text-align: left;
                        color: $textcolor;
                        border: transparent;
                    }
                }
            }
        }

        
    }
}

.formularios{
    display: grid;

    @include medidas(485px, auto); //mixin

    margin: 80px auto;
    border-radius: 10px;  

    @extend %padding;  //extend

    background-color: rgb(39, 39, 39); 
    padding-left: 30px; 

    .form{

        h2{
            font-family: $text-font;
            text-align: center;
            color: $textcolor;

            @extend %padding; //extend

        }

        .text{
            p{
                font-family: $text-font;
                text-align: center;
                color: whitesmoke;
                @extend %padding;  //extend

                a{
                    color: map-get($map: $standard, $key: color-1);
                }

                a:hover{
                    color: map-get($map: $standard, $key: color-2);
                }
            }
        }
    
        .formulario{

            p{
                span{
                    color: red;
                }

                input{
                    background-color: #ff0000; 

                    @include medidas(410px, 40px); //mixin

                    border-style: solid; 
                    border-style: none; 
                    background-color: #212121;
                }

                textarea{
                    @include medidas(405, 150px); //mixin

                    border-style: solid; 
                    border-color: #252525;
                    background-color: #212121;
                } 

                label{
                    display: block; 
                    text-align: center;
                    float: center;  
                    color: $textcolor;
                    font-family: $text-font;

                    span{
                        color: red;
                    }
                }

                button{

                    @include medidas(70px, 30px); //mixin

                    text-decoration: $textcolor;
                }

                button:hover{
                    background-color: rgb(210, 210, 210);
                }
            } 

            .aviso{
                color: $textcolor;  
                font-family: $text-font;
            }
    
        }
    }
}

.contacto{

    display: grid;

    h2{
        font-family: $text-font;
        text-align: center;
        color: $textcolor;
        color: $textcolor;
    }

    .contacto-text{
        p{
            font-family: $text-font;
            text-align: center;
            color: $textcolor;
            @extend %padding;  //extend
        }
    }
}

.iniciar-sesion{
    display: grid;
}

.iniciar-sesion2{
    display: grid;
}

/* mediaqueries */

@media (max-width:1440px){
    header{

        nav{
            ul{
                li{
                    font-size: 23px;
                    padding: 15px;
                }
            }
        }

        a{
            img{
                padding-top: 15px;
                height: 59px;
                width: 100px;
            }
            img:hover{
                height: 71px;
                width: 120px;
            }
        }
    }

    footer{
        display: flex;
        justify-content: center;
        flex-direction: column;

        div{
            p{
                font-size: 18px;
            }
        }
        div{
            a{
                font-size: 18px;
            }
        }
        .redes-sociales{ 
            padding: 10px;
            align-self: center;
            width: 200px;
            flex-direction: row;
            justify-content: space-around;
            a{
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .index{
        .div-bg, .div-bg-02{
            p{
                line-height: 35px;
                padding: 20px;
                font-size: 30px;
            }
            a{
                height: 40px;
                width: auto;
                padding: 5px 10px;
            }
        }
    }

    .discografia{
        .suenos, .guerras, .river, .naranja-02, .naranja, .ferro, .veintisiete, .espejos{
            p{
            line-height: 35px;
            padding: 20px;
            font-size: 30px;
            }

            a{
            height: 40px;
            width: 165px;
            padding: 5px 10px;
            }
        }
    }


    .tour{
        .gira{
            font-size: 35px;
            line-height: 35px;
        }
        .table{
            tbody{
                tr{
                    td{
                        h2{
                            font-size: 30px;
                            padding: 15px;
                        }  
                    }
                    .lugares, .fechas{
                        font-size: 18px;
                        padding: 15px;
                    }
                    a{
                        size: 10px;
                        text-align: center;
                        font-size: 15px;
                        padding: 8px;
                        height: 40px;
                        width: 65px;
                    }
                }
            }
            
        }
    }
    .formularios{
        width: 750px;
        padding: 20px;
        .form{
            h2{
                line-height: 35px;
                font-size: 35px;
            }
            .text{
                p{
                    font-size: 25px;
                    line-height: 35px;
                }
            }
            .formulario{
                display: flex;
                justify-content: center;
                flex-direction: column;
                p{
                    input, textarea{ 
                        margin-top: 10px;  
                        padding-left: 10px;
                        margin-bottom: 20px; 
                        border-radius: 5px;  
                        border-width: 1px; 
                        width: 700px;
                    }
                    .aviso{
                        font-size: 15px;  
                    }
                }
                button{
                    height: 40px;
                    width: 68px;
                }
            }
        }
        
    }
    .contacto{
        h2{
            line-height: 35px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 35px;
        }
        .contacto-text{
            p{
                line-height: 35px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width:768px){

    .formularios{
        width: 425px;

        .form{
            .formulario{
                display: flex;
                justify-content: center;
                flex-direction: column;
                p{
                    input, textarea{ 
                        width: 370px;
                    }
                }
            }
        }
        
    }
}

@media (max-width:425px){
    header{

        nav{
            ul{
                li{
                    font-size: 16px;
                    padding: 8px;
                }
            }
        }
    }

    .tour{
        .gira{
            font-size: 30px;
            line-height: 30px;
        }
        .table{
            tbody{
                tr{
                    td{
                        h2{
                            font-size: 25px;
                            padding: 10px;
                        }  
                    }
                    .lugares, .fechas{
                        font-size: 12px;
                        padding: 10px;
                    }
                    a{
                        size: 8px;
                        font-size: 12px;
                        height: 35px;
                        width: 60px;
                    }
                }
            }
            
        }
    }
    .formularios{
        width: 300px;

        .form{
            h2{
                line-height: 30px;
                font-size: 30px;
            }
            .text{
                p{
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            .formulario{
                p{
                    input, textarea{
                        width: 265px;
                    }
                }
                button{
                    height: 30px;
                    width: 65px;
                }
            }
        }
    }
    .contacto{
        h2{
            line-height: 30px;
            font-size: 30px;
        }
    }
}

