/*variables*/

$textcolor: rgb(245, 245, 245);
$header-color: rgb(5, 5, 5);

// rgb(31, 31, 31) rgb(26, 26, 26) 

$bg-color: rgb(10, 10, 10);
$text-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
